@font-face {
    font-family: "PT Sans";
    font-style: normal;
    font-weight: 400;
    src: url("../fonts/ptsans-400.woff2") format("woff2");
    font-display: swap;
}

@font-face {
    font-family: "PT Sans";
    font-style: normal;
    font-weight: 700;
    src: url("../fonts/ptsans-700.woff2") format("woff2");
    font-display: swap;
}

html {
height: 100%;
}

body {
    font-family: "PT Sans", sans-serif;
    font-size: 18px;
    line-height: 21px;
    font-weight: 400;
    color: #000000;
    background-color: #FFFFFF;
    margin: 0;
    height: 100%;
}

main {
    flex-grow: 1;
}

.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    padding: 0;
    border: 0;
    clip: rect(0 0 0 0);
    overflow: hidden;
}

.header-logo {
    margin-left: 70px;
    margin-right: 20px;
}

.container {
    margin: 0 auto;
    width: 1200px;
    display: flex;
    flex-direction: column;
    min-height: 100%;
}

.main-header {
    display: flex;
    height: 64px;
 }

.main-footer {
    display: flex;
    justify-content: space-between;
    height: 120px;
    padding-top: 40px;
}

.navigation {
    display: flex;
    margin-left: 1px;
}

.navigation-list {
    display: flex;
    flex-wrap: wrap;
    list-style-type: none;
    margin-top: 0;
    margin-bottom: 0;
    padding-left: 0;
}

.navigation-user {
    display: flex;
    list-style-type: none;
    width: 268px;
    margin-top: 0;
    margin-bottom: 0;
    margin-right: 70px;
    padding-left: 0;
}

.navigation-link {
    display: block;
    font-size: 20px;
    line-height: 24px;
    font-weight: 700;
    color: #000000;
    text-decoration: none;
    text-align: center;
    padding-top: 20px;
    padding-left: 23px;
    padding-right: 9px;
}

.navigation-link-icon {
    min-width: 44px;
    min-height: 64px;
}

.navigation-link-white {
    font-size: 16px;
    line-height: 20px;
    font-weight: 700;
    text-transform: uppercase;
    color: #FFFFFF;
    text-decoration: none;
}

.main-title {
    font-size: 30px;
    line-height: 36px;
    font-weight: 700;
    text-transform: uppercase;
    text-align: center;
    width: 620px;
    height: 72px;
    margin-top: 66px;
    margin-bottom: 0;
    margin-right: auto;
    margin-left: auto;
}

.main-description {
    font-size: 22px;
    line-height: 26px;
    width: 651px;
    margin-top: 24px;
    margin-bottom: 89px;
    margin-right: auto;
    margin-left: auto;
    }

.advantages-flex {
    display: flex;
    justify-content: space-between;
    height: 385px;
    list-style-type: none;
    padding-left: 0;
}

.advantages-list {
    display: flex;
    flex-wrap: wrap;
    list-style-type: none;
    padding-left: 0;
    height: 1155px;
    margin-top: 21px;
    margin-bottom: 0;
}

.advantages-item-blue {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    background-color: #82B3D3;
    width: 400px;
    height: 385px;
}

.advantages-item-grey {
    background-color: rgba(131, 179, 211, 0.2);
    width: 400px;
    height: 385px;
}

.advantages-item {
    background-color: rgba(131, 179, 211, 0.12);
    width: 400px;
    height: 385px;
}

.advantages-title-white {
    font-size: 24px;
    line-height: 28px;
    font-weight: 700;
    text-transform: uppercase;
    text-align: center;
    color: #FFFFFF;
    display: flex;
    width: 175px;
    height: 56px;
    margin-top: 102px;
    margin-left: 112px;
    margin-right: 112px;
    margin-bottom: 0;


}

.advantages-description-white {
    text-align: center;
    color: #FFFFFF;
    background-color: #82B3D3;
    width: 230px;
    height: 63px;
    margin-top: 62px;
    margin-left: 85px;
}

.advantages-item-white {
    background-color: #FFFFFF
}

.advantages-title-main {
    font-size: 24px;
    line-height: 28px;
    font-weight: 700;
    text-transform: uppercase;
    text-align: center;
    width: 175px;
    height: 56px;
    margin-top: 114px;
    margin-left: 113px;
}

.advantages-title {
    font-size: 24px;
    line-height: 28px;
    font-weight: 700;
    text-transform: uppercase;
    text-align: center;
    width: 230px;
    height: 28px;
    margin-top: 183px;
    margin-left: 85px;
    margin-right: 85px;
    margin-bottom: 0;
}

.advantages-description-main {
    text-align: center;
    width: 230px;
    height: 42px;
    margin-top: 62px;
    margin-left: 85px;
}

.advantages-description {
    text-align: center;
    width: 230px;
    height: 63px;
    margin-top: 30px;
    margin-left: 85px;
    margin-right: 85px;
}

.advantages-picture {
    height: 385px;
}

.additional-title {
    font-size: 30px;
    line-height: 36px;
    font-weight: 700;
    text-transform: uppercase;
    text-align: center;
    width: 505px;
    height: 72px;
    margin-top: 64px;
    margin-left: 348px;
    margin-bottom: 0;

}

.additional-description {
    font-size: 22px;
    line-height: 26px;
    width: 490px;
    margin-top: 21px;
    margin-left: 356px;
    margin-bottom: 64px;
}

.search {
    height: 280px;
}

.search-title {
    font-size: 30px;
    line-height: 36px;
    font-weight: 700;
    text-transform: uppercase;
    width: 297px;
    height: 36px;
    margin-top: 95px;
    margin-right: 452px;
    margin-left: 452px;
    margin-bottom: 0;
}

.search-description {
    font-size: 22px;
    line-height: 26px;
    text-align: center;
    width: 592px;
    height: 52px;
    margin-top: 20px;
    margin-right: 304px;
    margin-left: 304px;
    margin-bottom: 0;
}

.search-buttom {
    display: block;
    text-decoration: none;
    font-size: 20px;
    line-height: 36px;
    font-weight: 700;
    text-transform: uppercase;
    text-align: center;
    color: #FFFFFF;
    border-radius: 4px;
    width: 376px;
    height: 44px;
    background-color: #756157;
    margin-top: 54px;
    margin-left: 412px;
    margin-right: 412px;
    padding-top: 9px;
}

.subscribe-title {
    font-size: 30px;
    line-height: 36px;
    font-weight: 700;
    text-transform: uppercase;
    text-align: center;
    color: #FFFFFF;
    padding-top: 96px;
    margin-bottom: 0;
}

.subscribe-description {
    font-size: 22px;
    line-height: 26px;
    text-align: center;
    color: #FFFFFF;
    margin-top: 20px;
    margin-bottom: 0;
    margin-right: 363px;
    margin-left: 363px;
}

.form-subscribe {
    font-family: "PT Sans", sans-serif;
    line-height: 24px;
    text-transform: uppercase;
    color: #000000;
    display: block;
    width: 684px;
    height: 52px;
    margin-left: 258px;
    margin-right: 258px;
    margin-top: 54px;
}

.button-subscribe {
    font-size: 20px;
    line-height: 36px;
    font-weight: 700;
    text-transform: uppercase;
    text-align: center;
    color: #FFFFFF;
}

.subscribe {

    color: black;
    background-color: white;
    background-image: url("../images/subscribe-img.jpg");
    background-size: 100% auto;
    background-repeat: no-repeat;
    height: 415px;
}
.social-media-list {
    display: flex;
    flex-wrap: wrap;
    list-style-type: none;
}

.social-media-item {
    width: 48px;
    height: 40px;
}
.footer-phone {
    font-size: 40px;
    width: 340px;
    height: 40px;
    margin-top: 15px;
    margin-bottom: 0;
    margin-left: 38px;
    margin-right: 0;

}
.footer-logo {
    display: block;
    margin-top: 9px;
    margin-bottom: 0;
    margin-right: 70px;
    margin-left: 0;
}

/* Каталог main */

.filter-content {
    background-image: url(../images/catalog-img.jpg);
    background-size: 100% auto;
    background-repeat: no-repeat;
    height: 412px;
}

.filter-title {
    font-size: 60px;
    font-weight: 700;
    line-height: 78px;
}

.breadcrumbs-link {
    font-size: 16px;
}

.catalog-filter-title {
    font-weight: 700;
    font-size: 20px;
    line-height: 24px;
}
.control-input {
    line-height: 23px;
}

.button {
    font-weight: 700;
    font-size: 16px;
    line-height: 20px;
}

.subscribe-catalog {
    color: black;
    background-color: white;
    background-size: 100% auto;
    background-repeat: no-repeat;
    height: 415px;
}

.subscribe-title-catalog {
    font-size: 30px;
    line-height: 36px;
    font-weight: 700;
    text-transform: uppercase;
    text-align: center;
    padding-top: 96px;
    margin-bottom: 0;
}

.subscribe-description-catalog {
    font-size: 22px;
    line-height: 26px;
    text-align: center;
    margin-top: 20px;
    margin-bottom: 0;
    margin-right: 363px;
    margin-left: 363px;
}

.sorting-title {
    font-weight: 700;
    font-size: 30px;
    line-height: 36px;
}

.catalog-title {
    font-weight: 700;
    font-size: 24px;
    line-height: 28px;
}

.catalog-hotel {
    text-decoration: none;
}

.catalog-text-grey {
    font-size: 16px;
    line-height: 20px;
}

.pagination-link {
    font-weight: 700;
    font-size: 20px;
    line-height: 36px;
}
